/* body */
body {
  min-height: 100%;
}

/* top Bar */
#topBar {
  height: 35px;
}

#topBar a:hover {
  color: greenyellow !important;
}
 
/* nav bar */
#thenav a:hover {
  font-weight: bold !important;
  color: indigo !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

/* sidebar */  
  @media (max-width: 992px){
    #profile-section .container{
      max-width:100%;
    }
  }

/* Header Section */
.hero {
  background-color: rgba(0, 0, 0, 0.5);
}

/* icons */
.icons img {
  height: 5em;
  width: 5em;
  opacity: 0.6;
}

.icons img:hover {
  opacity: 1;
}

/* service slider */
.serviceslider img {
  height: 250px;
  width: 260px !important;
}

/* clients slider */
.clientsslider img {
  height: 180px;
  width: 180px !important;
  border-radius: 100%;
  margin: 0px 35px 0px 35px;
}

/* about us, team */
.team .card-footer a i:hover {
  transform: scale(1.3, 1.3);
  color: yellow !important;
}

/* page title, section title */
.title-underline {
  width: 150px;
  height: 5px;
  margin: 0 auto;
}

/* Classes */
.cImg {
  height: 250px;
  width: 250px;
  border-radius: 100%;
}

/* footer */

.footer-menu a:hover {
  transform: scale(1.3, 1.3);
  color: orangered !important;
}

.footericon i:hover {
  transform: scale(1.3, 1.3);
  color: yellow !important;
}

/* testimonials */
.tImg {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.why-icon{
  height: 90px;
  width: 90px;
}
